@{
    ViewData["Title"] = "Login";
}

@{ 
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br />
<div class="text-center AboutPage">
    <div id="WelcomeBack">
        Welcome back!
    </div>
    <div>

    </div>
    <div>

    </div>
    <div id="NotMember">
        Not a member? <a>Sign up</a>
    </div>
</div>

