@{
    ViewData["Title"] = "Contact";
}

@{ 
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<div>
    <div class="ContentContact">
        <form>
            <h4>Email:</h4>

        </form>
    </div>
    <div class="footer">

    </div>
</div>

