@{
    ViewData["Title"] = "Projcts";
}

@{ 
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<div class="text-center AboutPage">
    <br />
    <p style="font-size: 21px;">
        Projects Page
    </p>
</div>

