@{
    ViewData["Title"] = "About";
}

@{
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}
    <div style="color: #435495">
        <br />
        <img src="~/images/HelloBackground.png" style="width: 130px; height: 130px; position: absolute; left: 80%;" />
        <h4>Name: [your full name]</h4>
        <h6>Birthdate: [your birthdate]</h6>
        <h6>Age: [your age]</h6>
        <h6>Something: [your something]</h6>
        <h6>More about me: </h6>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        <div class="footer">

        </div>

    </div>

<!--   #435495   blue
       #53A28C   green
-->
