@{
    ViewData["Title"] = "Privacy Policy";
}
    <body style="background-image: url(images/HelloBackground.png)">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </body>